* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 200px;
  margin: 20px auto;
  border: 5px solid gold;
  color: #fff;
  background: green;
  padding: 3%;
}

.card .emoji {
  font-size: 4rem;
}

.card .title {
  font-size: 1.5rem;
}

.card .desc {
  font-size: 14px;
}
