body {
  background: lightyellow;
  font-family: Arial, Helvetica, sans-serif;
}

/* 요소 선택자 */
h1 {
  color: cornflowerblue;
  text-align: center;
}

p {
  color: darkgreen;
}

/* 클래스 선택자 */
.special {
  color: orange;
  font-weight: 700;
}

/* 자손 선택자 */
ul li em {
  color: purple;
  font-weight: 700;
}
